asgiref==3.7.2
autopep8==2.0.4
certifi==2023.11.17
charset-normalizer==3.3.2
Django==5.0
django-ckeditor==6.7.0
django-cleanup==8.0.0
django-debug-toolbar==4.2.0
django-google-fonts==0.0.3
django-js-asset==2.1.0
django-ranged-response==0.2.0
django-simple-captcha==0.6.0
django-solo==2.1.0
idna==3.6
Pillow==10.1.0
psycopg2-binary==2.9.9
pycodestyle==2.11.1
python-dotenv==1.0.0
requests==2.31.0
sqlparse==0.4.4
tinycss2==1.2.1
tzdata==2023.3
urllib3==2.1.0
webencodings==0.5.1
